# .gitignore

# Environment variables / Secrets
.env
data_generation_scripts/*.json
data_generation_scripts/*.csv
simulations/*.json
simulations/chroma_data_rag_v4_4/
visualizations/
chroma_data_rag/
# Python cache, virtual environments, temp files
__pycache__/
*.pyc
*.pyo
*.~
venv/
env/
.venv/

# Docker related files (optional, depends on team policy)
# docker-compose.yml
# mysql_data/

*.sqlite3
instance/
# IDE / Editor specific files
.vscode/
.idea/
*.swp